<app-navbar></app-navbar>
<!--<h1>Online Tests</h1>
<img src="images/stress.jfif" class="paimg">

  <button type="button"  class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#detailModal">
    Open GAD-7 Test
  </button>
  <div class="modal fade" id="detailModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title">GAD-7 test</h2>
        </div>
        <form>
          <div class="modal-body">
            <div class="form-group">
              <label>Election details</label>
             <input type="text" class="form-control" placeholder="Write details here">
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">detail</button>
          </div>
        </form>
      </div>
    </div>
  </div>
<br><br><br><br><br><br><br><br>-->

 <!--<img src="images/headache.gif" class="paimg">-->
 <style>
  /* Set background color for section */
  section {
      background-color: rgb(255, 252, 252); /* You can use any color here */
      padding: 20px; /* Optional: Adds some padding for better visibility */
  }
</style>
<style>
  /* Increase button size */
  .button {
            padding: 15px 30px;
            font-size: 1.5em;
            background-color: #1e1e66; /* Background color (e.g., green) */
            color: white; /* Text color (e.g., white) */
            border: none; /* Optional: Removes default border */
            border-radius: 11px; /* Optional: Adds rounded corners */
            cursor: pointer;
            font-family: 'Times New Roman', Times, serif;
            font-weight: bold;
  }
  p{
    font-family: 'Times New Roman', Times, serif;

  }
</style>

 <section class="p-2 text-center">
  <div class="container">
    <div class="d-sm-flex align-items-center justify-content-between">
      <div>
        <h1 style="font-weight:bold;">Online<span class="text-primary" style="font-weight: bold;">
          Mental Health Tests
        </span>
        </h1>
        <p class="lead my-4">
          "Prioritizing mental health is essential,
           When it suffers, so do We!, Don’t wait to seek help,
           as Healing can Transform your Life."
        </p>
        <!--<button type="button" class="button"  data-bs-toggle="modal" data-bs-target="#detailModal">
          QUICK TEST
        </button>-->
        <!--<app-quicktest></app-quicktest>-->
        <a  routerLink="/quicktest" class="button">QUICK TEST</a>

      </div>
      <img src="images/iiii.gif"class="img-fluid w-50 d-none d-sm-block"  alt=""/>
    </div>
  </div>
</section>
<app-footer></app-footer>
