<style>
  .button2{
          float: right;
          width: 15%;
          padding: 10px;
          background-color: #7d7dca;
          color: #fff;
          border: none;
          border-radius: 8px;
          cursor: pointer;
          font-family: 'Times New Roman', Times, serif;
          font-weight: bold;
          text-align: center;
  }
</style>
<button type="button"class="button2" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
  ABOUT TEST
</button>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel" style="color: #040407; font-family: 'Times New Roman', Times, serif; font-weight: bold;">About Tests</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" style="color: black; font-family: 'Times New Roman', Times, serif; font-size: 19px;">
        Our Quick test is a combination of two  mental health tests that are scientifically proven to for detecting <span style="font-weight: bold;">Anxiety and Depression </span>
        The First test is <span style="font-weight: bold;">GAD-7 (Generalized Anxiety Disorder) </span> The Generalized Anxiety Disorder 7-Item Scale (GAD-7) is a self-report questionnaire that helps identify and assess generalized anxiety disorder
        The Second test is <span style="font-weight: bold;">PHQ-9 (Patient Health Questionnaire) </span>The Patient Health Questionnaire (PHQ-9) is a brief, 9-item screening tool used to assess the severity of depression and other mental health challenges.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Understood</button>
      </div>
    </div>
  </div>
</div>
