<nav class="navbar navbar-expand-lg  navbar-dark py-4" style="background-color: #ffffff;" > <!--expand is used to make it responsive-->
  <div class="container">
    <a href="#" class="navbar-brand" style="font-size: 25px; color:rgba(38, 56, 218, 0.856); font-family: 'Times New Roman', Times, serif; font-weight: bold;">MindMentor</a>
<button
class="navbar-toggler"
type="button"
data-bs-toggle="collapse"
data-bs-target="#navmenu"
>
<span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navmenu"> <!--used collapse so that it collapses on smaller screen-->
  <ul class="navbar-nav ms-auto"> <!--ms-auto stands for margin start auto, align the icons to the right-->
    <li class="nav-item">
      <a routerLink="/home" class="nav-link" style="color: rgb(44, 5, 116);">ABOUT US</a>
    </li>
  </ul>
</div>
  </div>
</nav>
